body {
  line-height: 1.5;
  font-family: "Roboto", "Open Sans", sans-serif, sans-serif, "Sometype Mono",
    monospace;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}
img {
  max-width: 100%;
  /* (如果圖片不夠大張 無法撐滿容器就改用width:100%) */
  height: auto;
  /* (height: 100vh;如果佔滿整個視窗 可使用100vh) */
  vertical-align: middle;
  /* 防止照片下方有3px空白 */
  object-fit: cover;
  /* 做法：將img改成區塊元素 */
  img {
    display: block;
  }
  /*圖片可依造比例縮放*/
}
